/* BOOKING  */

.booking-banner {
    height: 65vh;
    background-color: rgb(100, 105, 105);
    margin: 0 4vw;
    border-radius: 0 0 17px 17px;
    text-align: center;
    padding-top: 24vh;
    line-height: 1.6;
    background-image: url(./Assets/bookin2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* Cover whole area */
    color: white;
    font-size: larger;
}

.booking-banner p {
    font-size: larger;
    letter-spacing: 6px;
    animation: content 1s ease forwards;
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(33px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.booking-banner h1 {
    animation: content 1s ease forwards;
    font-weight: 100;
    font-size: 44px;
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(33px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.booking-dash {
    width: 80%;
    height: 14vh;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    position: relative;
    z-index: 10;
    left: 10vw;
    bottom: 7vh;
    display: flex;
    align-items: center;
    animation: dash 1s ease forwards;
}

@keyframes dash {
    from {
        opacity: 0;
        transform: translateY(-29px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.location {
    width: 21vw;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    border: solid 1px gray;
    margin-left: 13px;
    position: relative;
}

#suggestions-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 7vh;
    left: 0;
    border-radius: 0 0 10px 10px;
}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
    color: black;
}

#suggestions-list li:hover {
    background-color: #f0f0f0;
}

.location i {
    margin-top: 2vh;
    margin-left: 1vw;
}

.location input {
    border: 0;
    background-color: transparent;
    height: 100%;
    padding-left: 7px;
    font-size: large;
}

.location .date {
    width: 18vw;
}

.location input:focus {
    outline: 0;
}

select {
    font-size: 17px;
    width: 18vw;
    border: 0;
    background-color: transparent;
}

select:focus {
    outline: 0;
}

.search {
    margin-left: 10px;
    padding: 12px;
    border-radius: 27px;
    background-color: cornflowerblue;
    width: 12vw;
    font-size: large;
    border: 0;
    transition: transform 0.3s ease;
}

.search:hover {
    transform: translateY(-4px);
}

.search:active {
    background-color: rgb(62, 93, 150);
}

.add {
    width: 85%;
    height: 15vh;
    background: linear-gradient(135deg, #ff7a18, #ff3d3d);
    margin: 0 8vw;
    border-radius: 30px;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    animation: add 1s ease forwards;
}

@keyframes add {
    from {
        opacity: 0;
        transform: translateY(33px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.add p {
    font-size: large;
    background-color: rgba(245, 222, 179, 0.685);
    padding: 10px;
    border-radius: 14px;
}

.add p i {
    color: red;
}

.add .details {
    font-size: large;
    padding: 12px 24px;
    border-radius: 27px;
    background-color: #dbd6cc;
    border: 0;
    transition: transform 0.3s ease;
}

.add .details:hover {
    transform: translateY(-4px);
}

.add .details:active {
    background-color: #c7c0b1;
}

.add h3 {
    font-size: 23px;
}

.flight {
    width: 100%;
    height: 80vh;
    /* background-color: aqua; */
    margin: 20vh 0 10vh 0;
}

.flight-text {
    width: 100%;
    height: 20vh;
    /* background-color: #b89176; */
    font-size: larger;
    padding: 0vh 0 0 5vw;
    color: white;
    line-height: 1.5;
}

.flight-cards {
    width: 100%;
    height: 70vh;
    /* background-color: #745f5c; */
    display: flex;
    justify-content: space-evenly;
}

.sub-cards {
    width: 27%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.fligh-img {
    width: 100%;
    height: 50%;
    background-color: darkolivegreen;
    background-image: url(./Assets/flight\ 2.jfif);
    background-position: center;
    background-size: 120%;
}

.f-2 {
    background-image: url(./Assets/flight\ 1.jfif);
}

.f-3 {
    background-image: url(./Assets/flight\ 3.jfif);
}

.price {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.price p {
    font-size: 26px;
}

.flight-1 {
    font-size: 17px;
    margin-left: 12px;
    margin-top: 7px;
    color: rgb(99, 89, 89);
}

.flight-time {
    font-size: 17px;
    margin-left: 12px;
    margin-top: 17px;
    color: rgb(99, 89, 89);
    font-weight: bold;
}

.book-flight {
    margin-top: 40px;
    padding: 10px 8vw;
    margin-left: 2vw;
    border-radius: 28px;
    border: 0;
    background-color: cornflowerblue;
    font-size: large;
    transition: transform 0.3s ease;
    transition: 0.3s;
}

.book-flight:hover {
    transform: translateY(-4px);
    box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.308);
}

.book-flight:active {
    background-color: rgb(62, 93, 150);
}

.no-2 {
    width: 45%;
}

.bus-flight {
    padding-left: 17vw;
    padding-right: 17vw;
    margin-left: 25px;
}

.bus {
    margin-top: 40vh;
    margin-bottom: 20vh;
}

.sub-cards:hover {
    transform: translateY(-7px);
}

.sub-cards i {
    color: black;
}

.bus-img1 {
    background-image: url(./Assets/bus1.jpg);
}

.bus-img2 {
    background-image: url(./Assets/bus\ 2.jpg);
}

.blur {
    width: 80%;
    height: 50vh;
    background-color: beige;
    margin-top: 30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url(./Assets/resort.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.blur-img {
    width: 80%;
    height: 40vh;
    /* background-color: aqua; */
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(9px);
    text-align: center;
    padding-top: 4vh;
    line-height: 2.5;
}

.blur-img h1 {
    font-weight: 600;
    font-size: 33px;
}

.blur-img p {
    font-size: large;
    letter-spacing: 3px;
}

.resort {
    font-size: large;
    padding: 10px 40px;
    border-radius: 29px;
    border: 0;
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
    margin-top: 3vh;
    transition: 0.3s ease;
}

.resort:hover {
    transform: translateY(-4px);
}

.resort:active {
    background-color: rgb(67, 100, 161);
}

.resort-cards {
    width: 100%;
    height: 80vh;
    /* background-color: rgb(131, 136, 139); */
    margin: 16vh 0;
    margin-bottom: 38vh;
}

.resort-text {
    width: 100%;
    height: 15vh;
    /* background-color: rgb(68, 62, 53); */
    color: white;
    font-size: large;
    padding-left: 3vw;
}

.resort-sub-cards {
    width: 100%;
    height: 80vh;
    /* background-color: rgb(133, 93, 42); */
    display: flex;
    justify-content: space-evenly;
}

.hotel {
    width: 30%;
    height: 100%;
    background-color: rgb(48, 44, 39);
    border-radius: 14px;
    background-color: rgb(221, 227, 231);
    overflow: hidden;
}

.h-img-1 {
    height: 45%;
    width: 100%;
    background-color: rgb(22, 18, 12);
}

.hotel .hotel-items {
    padding: 6px 6px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}

.h-img-1 {
    background-image: url(./Assets/resort1.jpg);
    background-position: center;
}

.resort2 {
    background-image: url(./Assets/resort2.jpg);
}

.resort3 {
    background-image: url(./Assets/resort3.jpg);
}

.hotel-icons i {
    margin-left: 14px;
    background-color: rgba(177, 164, 164, 0.329);
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.hotel-icons i:hover {
    color: rgb(10, 87, 74);
}

.hotel h2 .night {
    font-size: 17px;
    display: inline;
    color: gray;
}

.hotel .rate {
    margin-top: 3vh;
}

.book-resort {
    display: inline;
    position: relative;
    /* z-index: 3; */
    left: 19vw;
    bottom: 33px;
    padding: 8px 20px;
    border-radius: 28px;
    background-color: cornflowerblue;
    border: 0;
    font-size: large;
    transition: transform 0.3s ease;
}

.book-resort:hover {
    transform: translateY(-3px);
}

.book-resort:active {
    background-color: rgb(82, 119, 189);
}

.hotel-items p {
    color: rgb(29, 24, 24);
}

.booking-form {
    width: 40%;
    height: 85vh;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px 4vw 0 4vw;
    display: none;
    position: fixed;
    top: 4%;
    left: 31%;
    z-index: 9999;
    animation: formappear 0.8s ease forwards;
}

@keyframes formappear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.booking-form p {
    margin-top: 4vh;
    line-height: 1.3;
    font-size: large;
    text-align: center;
    color: rgb(77, 70, 70);
    margin-bottom: 3vh;
}

.booking-form h1 {
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

.booking-label {
    font-size: large;
    /* margin: 20px 0 9px 0; */
    margin-bottom: 10vh;
}

.booking-Name {
    width: 30vw;
    height: 6vh;
    border-radius: 11px;
    border: solid 1px rgba(128, 128, 128, 0.555);
    padding-left: 10px;
    font-size: 16px;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
}

.booking-btn {
    padding: 10px 10vw;
    width: 30vw;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 12px;
    background-color: rgb(10, 204, 194);
    border: 0;
}

.booking-btn:active {
    background-color: rgb(9, 185, 177);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 14, 14, 0.555);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    animation: overlay 0.7s ease forwards;
}

@keyframes overlay {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cross {
    display: flex;
    justify-content: space-between;
    padding-left: 9vw;
}

.cross i {
    font-size: 33px;
    transition: 0.2s ease;
}

.cross i:hover {
    color: rgb(128, 114, 114);
}